html
  head
    meta(charset='utf-8')
  body
    if user
        h1 Hello #{user.displayName}
        ul
          li
            a(href='/auth/logout') Logout
    else
        h1 Welcome
        ul
            li 
                a(href='/auth/login') Login
            li 
                a(href='/auth/register') Register